@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; 
  --foreground: #000000; 

  /* Botones */
  --button-bg: #007bff; /* Azul claro */
  --button-text: #ffffff; /* Blanco */
  --button-hover: #0056b3; /* Azul más oscuro */
  --button-border: #0056b3; /* Azul borde más oscuro */

  /* Tarjetas */
  --card-bg: #f8f9fa;
  --card-border: #f3f3f3;
  --card-text: #000000;
  --tecnologies-card-bg: #f8f9fa;

  /* Inputs */
  --input-bg: #ffffff;
  --input-border: #ced4da;
  --input-text: #000000;
  --input-placeholder: #6c757d;
  --input-focus: #007bff;

  /* Otros */
  --link-text: #007bff;
  --link-hover: #0056b3;
  --secondary-bg: #6c757d;
  --secondary-hover: #545b62;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;

  /* Botones */ 
  --button-bg: #343a40; /* Gris oscuro */
  --button-text: #ffffff; /* Blanco */
  --button-hover: #d8a50b; /* Amarillo cálido */
  --button-border: #ffc107; /* Amarillo cálido para bordes */

  /* Tarjetas */
  --card-bg: #141414;
  --card-border: #252a2e;
  --card-text: #ffffff;
  --tecnologies-card-bg: #ffffff;

  /* Inputs */
  --input-bg: #1a1a1a;
  --input-border: #2d2d2d;
  --input-text: #ffffff;
  --input-placeholder: #a1a1a1;
  --input-focus: #ffc107;

  /* Otros */
  --link-text: #ffc107;
  --link-hover: #ffca28;
  --secondary-bg: #040f1f;
  --secondary-hover: #040e1d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}
