@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; 
  --foreground: #000000; 

  --primary: #007bff; 
  --primary-hover: #0056b3;
  --secondary: #6c757d;
  --secondary-hover: #545b62;
}

.dark {
  --background: #07060e;
  --foreground: #ffffff;

  --primary: #040f1a; 
  --primary-hover: #ffd900;
  --secondary: #040f1f;
  --secondary-hover: #040e1d;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
